node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .env는 git에 올리면 안 되므로, 원래는 주석을 없애야 함
# .env